<ng-container *ngIf="comments">
  <ng-container *ngIf="comments.count > 0">
    <h1>Latest Comments on the Blog</h1>
    <mat-card class="post-card" *ngFor="let comment of comments.data">
      <mat-card-title class="post-title">
        <span [routerLink]="'/post/'+comment.postId">{{comment.postTitle}}</span>
        <span class="post-title-spacer"></span>
        <post-tags [tags]="comment.postTags"></post-tags>
      </mat-card-title>
      <mat-card-subtitle class="post-subtitle">Commented by <span class="created-by">{{comment.author}}</span>
        at {{comment.createdAt}}</mat-card-subtitle>
      <mat-card-content class="post-summary" [routerLink]="'/post/'+comment.postId" [innerHTML]="comment.body">
      </mat-card-content>
    </mat-card>
    <mat-paginator [pageIndex]="comments.pageNo - 1" [length]="comments.count" [pageSizeOptions]="[10]"
                   (page)="getPaginatorData($event)"
                   showFirstLastButtons="false"
                   aria-label="Select page">

    </mat-paginator>
  </ng-container>
  <ng-container *ngIf="comments.count == 0">
    <h3>There are no Posts with Comments on this Blog</h3>
  </ng-container>
</ng-container>


