.sidenav-icon {
  margin-right: 5px;
}

.title {
  cursor: pointer;
}

.user-container {
  display: flex;
}

.user-name {
  font-size: medium;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.user-icon {
  margin-top: 3px;
}
