<ng-container *ngIf="posts">
  <ng-container *ngIf="posts.count > 0">
    <posts-list [posts]="posts" [user]="user" [onDelete]="delete()"></posts-list>
    <mat-paginator [pageIndex]="posts.pageNo - 1" [length]="posts.count" [pageSizeOptions]="[10]"
                   (page)="getPaginatorData($event)"
                   showFirstLastButtons="false"
                   aria-label="Select page">

    </mat-paginator>
  </ng-container>
  <ng-container *ngIf="posts.count == 0">
    <h3>There are no Posts on this Blog that match the requested User</h3>
  </ng-container>
</ng-container>

